.notificationBadge {
  font-size: 10px;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  width: 60%;
  height: 16px;
  padding: 0.5rem;
  color: #fff;
  position: absolute;

  top: 0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -5px;
}
